<h1>
    <%= title %>
</h1>

<% if (errors && errors.length> 0) { %>
    <ul class="notice">
        <% errors.forEach(function(error) { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>
                <div class="register-container">
                    <p>ALL FIELDS ARE REQUIRED.</p>
                    <form action="/account/register" method="POST" novalidate>

                        <div class="form-row">
                            <label for="account_firstname">First Name:</label>
                            <input type="text" id="account_firstname" name="account_firstname" required
                                value="<%= account_firstname || '' %>">
                        </div>

                        <div class="form-row">
                            <label for="account_lastname">Last Name:</label>
                            <input type="text" id="account_lastname" name="account_lastname" required
                                value="<%= account_lastname || '' %>">
                        </div>

                        <div class="form-row">
                            <label for="account_email">Email:</label>
                            <input type="email" id="account_email" name="account_email" required
                                value="<%= account_email || '' %>">
                        </div>

                        <div class="form-row">
                            <label for="account_password">Password:</label>
                            <input type="password" id="account_password" name="account_password" required minlength="12"
                                pattern="^(?=.*[A-Z])(?=.*\\d)(?=.*[!@#$%^&*()_+\\-\\=\\[\\]{};':\"
                                \\|,.<\\/?]).{12,}$">
                        </div>

                        <div class="form-row">
                            <p>Password must be minimum of 12 characters and include 1 capital letter, 1 number and 1
                                special character.</p>
                        </div>

                        <div class="form-row">
                            <button type="button" class="show-password-btn">Show Password</button>
                        </div>

                        <div class="form-row">
                            <button type="submit">Register</button>
                        </div>
                    </form>
                </div>