<h1>
    <%= title %>
</h1>

<% if (messages && messages.length) { %>
    <% messages.forEach(function(msg) { %>
        <div class="flash-message">
            <%= msg %>
        </div>
        <% }) %>
            <% } %>

                <% if (!sales || sales.length===0) { %>
                    <p>No purchases found.</p>
                    <% } else { %>
                        <table>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Vehicle</th>
                                    <th>Classification</th>
                                    <th>Price</th>
                                    <th>Payment Method</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% sales.forEach(sale=> { %>
                                    <tr>
                                        <td>
                                            <%= sale.sale_date.toISOString().split("T")[0] %>
                                        </td>
                                        <td>
                                            <%= sale.inv_make %>
                                                <%= sale.inv_model %>
                                        </td>
                                        <td>
                                            <%= sale.classification_name %>
                                        </td>
                                        <td>$<%= sale.sale_price %>
                                        </td>
                                        <td>
                                            <%= sale.payment_method %>
                                        </td>
                                        <td>
                                            <%= sale.notes %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        <% } %>